.row
  .columns.small-12.medium-6.medium-offset-3
    %h3 Workflows

    - @workflows.each do |workflow|
      %hr
      %h4= link_to workflow.title, workflow
      %p.tight= workflow.description
      %small.subtle= workflow.git_repository_url
