header {
  background: #9b59b6;
}

#logo {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: asset-url("logo.png");
  width: 654px;
  height: 134px;
  background-size: 100%;
  margin: 60px auto;
}
